<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- Jumbotron --}}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">myIPA</h1>
            <p class="lead">{{msg}}</p>
          </div>
        </div>
        {{!-- Jumbotron --}}

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="beerText">What beer?</label>
            <input type="text" id="beerText" class="form-control" aria-describedby="beerText"
              placeholder="Enter Beer Text">
          </div>
          <div class="form-group">
            <label for="breweryText">Which brewery?</label>
            <textarea class="form-control" id="breweryText" aria-describedby="breweryText"
              placeholder="Enter Brewery Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Beer List</h3>
        <ul id="beer-list" class="list-group">
          {{#each beers}}
          <li data-id="{{this.beer}}" class="list-group-item">
            <a href="beer/{{this.brewery}}">{{this.beer}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>